@font-face {
  font-family: "Rasa Regular";
  src: url(../../fonts/Rasa/static/Rasa-Regular.ttf);
}

@font-face {
  font-family: "Rasa";
  src: url(../../fonts/Rasa/static/Rasa-Bold.ttf);
}

@font-face {
  font-family: "Rasa Medium";
  src: url(../../fonts/Rasa/static/Rasa-Medium.ttf);
}

@font-face {
  font-family: "Rasa Semi";
  src: url(../../fonts/Rasa/static/Rasa-SemiBold.ttf);
}

@font-face {
  font-family: "Inter";
  src: url(../../fonts/Inter/static/Inter-Regular.ttf);
}

@font-face {
  font-family: "Inter Bold";
  src: url(../../fonts/Inter/static/Inter-Bold.ttf);
}

@font-face {
  font-family: "Inter SemiBold";
  src: url(../../fonts/Inter/static/Inter-SemiBold.ttf);
}

@font-face {
  font-family: "Inter Medium";
  src: url(../../fonts/Inter/static/Inter-Medium.ttf);
}
