.download {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--elated);
  margin-top: 70rem;
  padding: 100rem 0;

  h2 {
    font-family: "Rasa";
    font-size: 30rem;
    margin-bottom: 10rem;
  }

  h6 {
    font-family: "Inter Medium";
  }
}
