.second__section {
  margin-top: 100rem;
  margin-left: 200rem;
  margin-right: 200rem;
  display: flex;
  justify-content: space-between;

  &__child1 {
    display: flex;
    flex-direction: column;
    //border: 2rem solid var(--skills);
    max-width: fit-content;
    //border-radius: 5rem;

    &--button {
      border: none;
      background-color: var(--elated);
      border-radius: 20rem;
      max-width: fit-content;
      padding: 5rem 15rem;
      font-size: 18rem;
      font-family: "Inter Regular";
    }

    &--Money_finger {
      padding: 5rem 0;
      font-family: "Rasa";
      font-size: 70rem;
      //border: 1px red dotted;

      strong {
        color: var(--light);
      }
    }
    &--banking {
      margin: 5rem 0rem;

      p {
        //text-align: justify;
        font-size: 18rem;
        font-family: "Inter Regular";
        color: var(--joy);
      }

      &__button {
        :first-child {
          font-family: "Inter Bold";
          border: 2rem solid var(--skills);
          border-radius: 5rem;
          padding: 10rem 20rem;
          box-shadow: 2rem 2rem var(--skills);
          font-size: 12rem;
          background-color: var(--excited);
          color: var(--skills);
          margin-top: 25rem;
        }

        :last-child {
          font-family: "Inter Bold";
          border: 2rem solid var(--skills);
          border-radius: 5rem;
          padding: 10rem 20rem;
          box-shadow: 2rem 2rem var(--skills);
          font-size: 12rem;
          background-color: var(--elated);
          color: var(--skills);
          margin-left: 40rem;
        }
      }
    }

    &__lastSec {
      display: flex;
      margin: 20rem 0 20rem;

      .stat {
        display: flex;
        align-items: center;

        :first-child {
          font-family: "Rasa";
          font-size: 30rem;
        }

        :last-child {
          font-family: "Rasa Regular";
          font-size: 10rem;
          margin-right: 20rem;
        }
      }
    }
  }

  &__child2 {
    border: 2rem solid var(--skills);
    max-width: fit-content;
    border-radius: 5rem;

    :first-child {
      align-items: center;
    }

    :last-child {
      font-family: "Rasa";
      border: 2rem solid var(--skills);
      border-radius: 5rem;
      padding: 10rem 20rem;
      box-shadow: 2rem 2rem var(--skills);
      font-size: 30rem;
      background-color: var(--elated);
      position: absolute;
      // translate: -600px -40px 8rem;
      transform: translate(-600px, 400px);
    }
  }
}
