.second__section {
  margin-top: 40rem;
  margin-left: 150rem;
  margin-right: 150rem;
  display: flex;
  border: 5px red dotted;
  justify-content: space-between;

  &__child1 {
    display: flex;
    flex-direction: column;
    scroll-margin-left: 0; // not working
    border: 1px blue dotted;
    max-width: fit-content;

    &--button {
      border: none;
      background-color: var(--elated);
      border-radius: 10rem;
      max-width: fit-content;
      padding: 2rem 5rem;
      font-size: 10rem;
      font-weight: bolder;
    }
    &--Money_finger {
      padding: 10rem 0;
      font-family: "Rasa";
      font-size: 70rem;
      border: 1px red dotted;

      strong {
        color: var(--light);
      }
    }
    &--banking {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      p {
        //text-align: justify;
        font-size: 12rem;
        font-family: "rasa";
      }

      &--banking_button {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        :first-child {
          background-color: var(--joy);
        }
      }
    }
  }
}
