.second__section {
  margin-top: 100rem;
  margin-left: 200rem;
  margin-right: 200rem;
  display: flex;
  justify-content: space-between;

  &__child1 {
    display: flex;
    flex-direction: column;
    //border: 2rem solid var(--skills);
    max-width: fit-content;
    //border-radius: 5rem;

    &--button {
      border: none;
      background-color: var(--elated);
      border-radius: 20rem;
      max-width: fit-content;
      padding: 5rem 15rem;
      font-size: 18rem;
      font-family: "Rasa Semi";
    }

    &--Money_finger {
      padding: 5rem 0;
      font-family: "Rasa";
      font-size: 70rem;
      //border: 1px red dotted;

      strong {
        color: var(--light);
      }
    }
    &--banking {
      margin: 5rem 0rem;

      p {
        //text-align: justify;
        font-size: 18rem;
        font-family: "rasa";
        color: var(--joy);
      }

      button {
        margin-top: 20rem;
        // font-size: 10rem;
        // border-radius: 10rem;
        // max-width: fit-content;
        // padding: 5rem;
        // border: 1rem solid var(--skills);

        //background-color: var(--elated);

        //::first-child
        .m1 {
          background-color: var(--elated);
          margin-right: 50rem;
          // background-color: var(--joy);
          // border-radius: 2rem;
          // color: var(--skills);
          // border-color: var(--skills);
        }

        :last-child {
          margin-left: 200rem;
          // background-color: var(--elated);
          // font-family: "Rasa";
          // border-radius: 2rem;
          // color: var(--skills);
          // border-color: var(--skills);
        }
      }
    }

    &__lastSec {
      display: flex;
      flex-direction: row;
    }
  }

  &__child2 {
    border: 2rem solid var(--skills);
    max-width: fit-content;
    border-radius: 5rem;
  }
}
