.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 40rem;
  padding-left: 200rem;
  padding-right: 200rem;
  height: 50rem;
  font-size: 22rem;
  font-family: "Rasa Regular";

  // align-items: center;
  //text-align: center;
  &__logo {
    display: flex;
    align-items: center;
    //not working
    span {
      //padding: 10rem;
      color: var(--elated);
    }
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 40rem;
  }

  &__drop__link {
    display: flex;
    align-items: center;
  }

  &__button {
    background-color: var(--elated);
    color: var(--skills);
    border-radius: 7rem;
    border: 2rem solid var(--skills);
    font-family: "Inter Bold";
    font-size: 20rem;
    padding: 0 25rem;
    box-shadow: 3rem 3rem var(--skills);
  }
}
