.review__head {
  max-width: 400rem;
  margin: auto;
  padding: 90rem 0rem;

  &--h2 {
    font-family: "Rasa";
    font-size: 30rem;
  }

  &--p {
    font-family: "Inter Medium";
    font-size: 10rem;
    color: var(--joy);
    padding: 10rem 35rem;
  }
}

.review {
  display: flex;
  margin: 0 200rem;
  gap: 25rem;

  h2 {
    font-family: "Rasa";
  }

  h5 {
    font-family: "Inter Mdeium";
  }

  &__card {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    border: 2rem solid var(--skills);
    box-shadow: 2rem 2rem var(--skills);
    padding: 30rem 30rem;
    align-items: flex-start;
    border-radius: 10rem;

    &--bgcolour {
      background-color: var(--light);
    }

    h3 {
      font-family: "Inter SemiBold";
      font-size: 12rem;
    }

    h5 {
      font-family: "Inter Medium";
      font-size: 8rem;
    }
  }
}
