.spec_feact {
  font-family: "Rasa";
  font-size: 30rem;
  margin: 70rem 200rem 0rem 200rem;
  text-shadow: 1.5rem 1.5rem var(--skills);

  span {
    text-decoration: underline 5rem var(--light);
  }
}

.special {
  margin: 40rem 200rem;
  display: flex;
  flex-direction: row;
  gap: 100rem;
  font: "Rasa Medium";
  font-size: 20rem;

  &__features {
    display: flex;
    border: 2rem solid var(--skills);
    box-shadow: 2rem 2rem var(--skills);
    padding: 1rem 20rem;
    border-radius: 5rem;
    width: 50%;
    height: 60rem;
    align-items: center;
    gap: 30rem;
  }
}
